doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home
    a(href='/browse/listings') Listings
    a(href='/browse/categories') Categories
    a(href='/browse/Owners') Users
    div
    a(href='/browse/listing/create') Create New Listing
    block content
